# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Dependencies
node_modules/

# Build output
lib/
dist/

# Expo
.expo/
examples/.expo/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
